<h1>Listing comments</h1>

<table>
    <thead>
    <tr>
        <th>Post</th>
        <th>Body</th>
        <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @comments.each do |comment| %>
        <tr>
            <td><%= comment.post_id %></td>
            <td><%= comment.body %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>
