<p id="notice"><%= notice %></p>

<div class="post_body">
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
</div>

<div class="comments_body">
<h2>Comments:</h2>
<div id="comments">
    <%= render :partial => @post.comments.reverse %>
</div>
</div>

<div class="new_comment">
<%= form_for([@post, Comment.new], remote: true) do |f| %>
    <p>
        <%= f.label :body, "New Comment" %>
        <%= f.text_area :body %>
    </p>
    <p> <%= f.submit "Add Comment" %> </p>
<% end %>
</div>

<div class="footer">
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>
