/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
    text-align: right;
    color: #AA00CC;
    font-size: small;
    padding: 5px;
    background: linear-gradient(to right, lightblue, white) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.header h1 {
    font-size: x-large;
}

.post_body {
    position: relative;
    width: 76%;
    left: 12%;
    height: 33%;
    background: #DD9999;
    font-family: Georgia, serif;
    text-align: center;
    padding: 25px;
}

.comments_body {
    position: relative;
    width: 76%;
    left: 12%;
    background: #99DD99;
    padding: 25px;
}

.comments_body div {
    border-width: 1px;
    border-style: solid;
    border-color: #5500AA;
    padding: 10px;
}

.new_comment {
    position: relative;
    width: 76%;
    left: 12%;
    text-align: center;
}

#comment_body {
    width: 90%;
    height: 200px;
}

.footer {
    text-align: center;
}
